<!-- <h1>
  Welcome to {{ title }}!
</h1>

<nav>
  <ul>
    <li><a routerLink="/welcome" routerLinkActive="active">Welcome</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/unicorns" routerLinkActive="active">Unicorns</a></li>
  </ul>
</nav> -->

<mat-toolbar>
  <div class="toolbar-container">
    <div class="toolbar-left">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" style="width: 50px; height: 50px;"
        alt="logoAngular">
      <!-- que el boton abarque todo el espacio del toolbar -->
      <button routerLink="/welcome" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <button routerLink="/unicorns" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button routerLink="/login" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>



<router-outlet></router-outlet>
